# dependencies
/node_modules

# next.js
/.next/
/out/
/output/
/.playwright-cli/

# local captures
/public/uploads/*
!/public/uploads/.gitkeep

# environment files
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
